.login-form .input-container {
    padding-bottom: 24px;
}

.util-container {
    padding-top: 24px;
}

.util-container > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.util-container .find-join-wrap {
    text-align: right;
}
