.move-top {
    position: fixed;
    right: 13vw;
    bottom: 12vh;
    opacity: 0;
}

.move-top button {
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    background: 0 /32px url("../../assets/common/top_arrow.png");
}
