.main-container .swiper-slide {
    height: 70vh;
}

@media (max-width: 1600px) {
    .main-container .swiper-slide {
        height: 50vh;
    }
}

@media (max-width: 1400px) {
    .main-container .swiper-slide {
        height: 40vh;
    }
}

@media (max-width: 1000px) {
    .main-container .swiper-slide {
        height: 30vh;
    }
}

@media (max-width: 700px) {
    .main-container .swiper-slide {
        height: 20vh;
    }
}

.main-container .swiper-slide img {
    height: 100%;
}

.main-container > section {
    padding: 48px 16px;
}

.main-container > section:nth-child(even) {
    background: #f3f0eb;
}

.main-container > section:nth-child(odd) {
    background: #faf8f4;
}

.main-container .section-inner-left,
.main-container .section-inner-right .product-list .product {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
}

.main-container .section-inner-left .section-title,
.main-container .section-inner-left .section-desc {
    margin: 0;
}

.main-container .section-inner-left .border-style-btn {
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.main-container .section-inner-right {
    -webkit-box-flex: 2.5;
    -moz-box-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5; /* section의 2.5/3.5 너비 */
}

.main-container .section-inner-right .product-list {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.main-container .section-inner-right .product-list .product {
    max-width: 450px;
}

.main-container .section-inner-right .product-list .product .thumb {
    overflow: hidden;
}

@media (max-width: 900px) {
    .main-container > section {
        position: relative;
        display: block;
        padding: 30px 0;
    }

    .main-container .section-inner-right {
        padding: 20px;
    }

    .main-container .section-inner-right .product-list .product {
        padding: 5px;
    }

    .main-container .section-inner-left .border-style-btn {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 60px);
    }

    .main-container .section-inner-right .product-list {
        margin-bottom: 50px;
    }
}
