.mypage-lnb ul {
    padding: 20px 0 60px;
    justify-content: center;
}

@media(max-width:900px) {
    .mypage-lnb ul {
        padding-bottom: 40px;
    }
}

.mypage-lnb a {
    padding: 0 10px;
    color: #999999;
}

.mypage-lnb .on {
    font-weight: bold;
    color: #363636;
}