.util-container {
    padding-bottom: 20px;
}

.util-container .num, .util-container .btn-wrap {
    flex: 1;
}

.util-container .btn-wrap {
    text-align: right;
}

.util-container .btn-wrap button {
    margin: 0;
}

.wish-list .wish-item {
    text-align: center;
}

.wish-list .thumb {
    width: 15%;
    padding: 20px;
}

@media(max-width:900px) {
    .wish-list .thumb {
        padding: 0 0 0 5px;
    }
}

.wish-list .thumb a {
    width: 90%;
    max-width: 100px;
    display: block;
}	

.wish-list .name {
    width: 45%;
    padding-left: 10px;
    text-align: left;
}

.wish-list .price {
    width: 25%;
    font-weight: bold;
}

.wish-list .util-btn-container {
    width: 15%;
}